* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Top bar */

header {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.8rem;
    margin-right: 1rem;
    align-items: center;
    font-weight: lighter;
}


header a {
    margin-right: 1rem;
    color: black;
    text-decoration: none;
    font-weight: lighter;
    font-size: 14px;
}

header .signin {
    background-color: #1A73E8;
    color: white;
    border: none;
    padding: 0.7rem 1.4rem;
    border-radius: 0.3rem;
}

header .signin:hover {
    background-color: #4285F4;
}

header img {
    max-height: 1.3rem;
    min-height: 1.3rem;
}

header .waffle {
    margin-right: 1rem;
    padding: 0.5rem 0.5rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
}

header .waffle:hover {
    background-color: rgb(240,240,240);
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .logo img {
    max-width: 17rem;
    min-width: 17rem;
}

/* Search input bar */

input {
    height: 40px;
    width: 500px;
    padding: 2rem, 40px;
    border-width: 1pt;
    border-style: solid;
    border-color: rgba(201, 202, 201, 0.973);
    border-radius: 50px;

    }

form {
        margin: 2rem 0;
}

input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search form {
    position: relative;
    z-index: 1;
}

.search button {
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 2;
    top: 0.6rem;
}

.search  .mic  {
    right: 1rem;
    max-width: 0.8rem;
}

.search  .mag  {
    left: 1rem;
    max-width: 1.2rem;
    opacity: 0.7;
}

.search button img {
    max-width: 100%;
}


/* Search buttons */

main .search-buttons button {
    padding: 0.7rem 0.8rem;
    border: none;
    background-color: #F8F9FA;
    margin: 0rem 0.3rem;
    border-radius: 0.1rem;
}

main .search-buttons button:hover {
    box-shadow: 0 1px 2px 0 rgba(32,33,36,0.28);
    border: 1px solid rgba(223,225,229,0);
}

/* Footer */

.bar {
    background-color: #F2F2F2;
    border: 1px solid #DADCE0;
    padding: 0.8rem 0;
}

.misc {
    display: flex;
    justify-content: space-between;
}

.misc-left a, p{
    margin-left: 2rem;
    color: #70757A;
    text-decoration: none;
    font-weight: lighter;
    font-size: 14px;
}

.misc-right a {
    margin-right: 2rem;
    color: #70757A;
    text-decoration: none;
    font-weight: lighter;
    font-size: 14px;
}

/* Miscellaneous decorations*/

a:hover {
    text-decoration: underline;
}

